<div class="auth-container">
  <h2>Entrar</h2>

  <form action="/login" method="post">
    <div class="form-control">
      <label for="email">Digite seu email</label>
      <input type="email" name="email" placeholder="fulanodetal@email.com" />
    </div>

    <div class="form-control">
      <label for="password">Digite sua senha</label>
      <input type="password" name="password" placeholder="minhasenha123" />
    </div>

    <input type="submit" value="Entrar" />

    <p>Não tem uma conta? <a href="/register">Crie uma agora mesmo!</a></p>
  </form>
</div>