<div class="tought-form-container">
  <a href="/toughts/dashboard">Voltar</a>

  <h1>Criando um pensamento</h1>

  <form action="/toughts/add" method="post">

    <div class="form-control">
      <label for="title">Título do pensamento:</label>
      <input type="text" name="title" placeholder="Digite seu pensamento" />
    </div>

    <input type="submit" value="Criar pensamento" />

  </form>
</div>